
.title{

    text-align: center;

}

.text-store{

    font-size: large;

}

.data-store{

    height: 100%;
    background: rgb(255,200,132);
    background: linear-gradient(0deg, rgba(255,200,132,1) 0%, rgba(228,226,221,1) 100%);
    padding: 4em;
}

.store-product{

    padding: 4em;

}

.store-products{

    padding: 5em;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.store-product-image{

    height: 200px;
    width: 200px;
    border: 3px solid black;
    box-shadow: 5px 5px;
    transition: 1s;
}

.store-product-image:hover{

    width: 250px;
    height: 250px;
}

.store-product-data{

    font-weight: bold;

}