
.data-home{

    height: 100vh;
    background: rgb(255,200,132);
    background: linear-gradient(0deg, rgba(255,200,132,1) 0%, rgba(228,226,221,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.info-home{

    padding: 1em;
    font-weight: bold;
    font-size: large;

}

.mascot{

    border: 3px solid black;
    box-shadow: 5px 5px;

}

@media (max-width: 600px) {

    .mascot{

        width: 200px;
        height: 200px;

    }

}