
.title{

    text-align: center;

}

.data-premium{

    height: 100%;
    background: rgb(255,200,132);
    background: linear-gradient(0deg, rgba(255,200,132,1) 0%, rgba(228,226,221,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.info-premium{

    padding: 1em;
    font-weight: bold;
    font-size: large;

}

.data-store{

    height: 100%;
    background: rgb(255,200,132);
    background: linear-gradient(0deg, rgba(255,200,132,1) 0%, rgba(228,226,221,1) 100%);
    padding: 2em;
}

.products{

    padding: 1em;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.product{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 4em;

}

.product-image{

    height: 200px;
    width: 200px;
    border: 3px solid black;
    transition: 1s;
    box-shadow: 5px 5px;

}

.product-image:hover{

    height: 220px;
    width: 220px;

}

.product-data{

    font-weight: bold;

}